.App {
  background-color:rgb(179, 173, 173);

}

.image{
  background-color: white;
  margin:20px;
}
h2, h1, p, h4{
  text-align: center;
}
h2{
  margin:0;
  padding:10px;
}
h1, h4{
  color:white
}
img{
  height: 400px;
  width:800px;
  padding-top:30px;
  padding-left: 280px;
}
.biography{
  color:white;
  font-weight: bold;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
